.about {
  position: relative;
  width: 100%;
  &_photo {
    &-logo {
      position: absolute;
      left: 1rem;
      top: 0rem;
      height: 9rem;
      background-color: $color-light;
      padding-right: 35vw;
    }
    &-img {
      max-height: 100vh;
      width: auto;
      max-width: 100%;
      background-size: cover;
    }
  }
  &_menu {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 1.2rem;
    padding-bottom: 3rem;
    z-index: 10;
    font-family: $font-2;
    font-weight: 400;
    background-color: $color-light;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 9rem;
      width: 100%;
      background-color: $color-light;
    }
    &_list {
      list-style: none;
      display: flex;
      align-items: flex-end;
      padding-top: 3rem;
      padding-right: 3rem;
      &_item {
        margin-right: 2rem;
        font-size: 1.2rem;
        position: relative;
        cursor: pointer;
        transition: all $trans-primary;
        color: $color-secondary;
        font-weight: 700;
        letter-spacing: 0.2rem;
        &::before {
          content: '';
          position: absolute;
          top: 60%;
          left: 0;
          right: 0;
          height: 4px;
          background-color: $color-secondary;
          transform-origin: center right;
          transform: scaleX(0) translateY(-50%);
          transition: transform 0.3s ease;
        }
        &:hover::before {
          transform-origin: center left;
          transform: scaleX(1) translateY(-50%);
        }
      }
    }
  }
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $color-light;
  position: relative;
  height: auto;
  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
  &-2 {
    @media screen and (max-width: 900px) {
      flex-direction: column-reverse;
    }
  }
  &_card {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 3rem;
    width: 50%;
    color: $color-secondary;

    @media screen and (max-width: 900px) {
      width: 100%;
      height: auto;
    }
    &-bottom {
      font-size: 3rem;
      width: 100%;
    }
    &-blue {
      color: $color-light;
      background-color: $color-secondary;
    }
    &_header {
      padding-top: 11rem;
      padding-left: 4rem;
      color: $color-light;
      @media screen and (max-width: 600px) {
        padding-left: 2rem;
      }
      &-2 {
        // this is the what is juried header
        padding-top: 3rem;
      }
      &-bottom {
        padding-top: 3rem;
      }
      &-blue {
        color: $color-secondary;
      }
    }
    &_content {
      height: 100%;
      padding-left: 4rem;
      padding-right: 4rem;

      font-size: 1.7rem;
      @media screen and (max-width: 1289px) {
        font-size: 1.4rem;
      }
      @media screen and (max-width: 974px) {
        font-size: 1.3rem;
      }
      @media screen and (max-width: 900px) {
        font-size: 1.6rem;
        padding-bottom: 2rem;
      }
      @media screen and (max-width: 600px) {
        font-size: 1.4rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
      }
      @media screen and (max-width: 500px) {
        font-size: 1.2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
      }
      @media screen and (max-width: 400px) {
        font-size: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
      }
      &-bottom {
        padding-bottom: 3rem;
      }
    }
  }
  &_photo {
    background-image: url('../images/art-show.jpg');
    background-size: cover;
    &-2 {
      background-image: url('../images/new-what-is.jpg');
      background-size: contain;
    }
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left;
    height: 700px;
    width: 50%;
    @media screen and (max-width: 900px) {
      width: 100%;
      background-size: cover;
      background-attachment: scroll;
      background-position: center;
    }
  }
}
