.about {
  position: relative;
  width: 100%;
  &_photo {
    &-logo {
      position: absolute;
      left: 1rem;
      top: 0rem;
      height: 9rem;
      background-color: $color-light;
      padding-right: 35vw;
    }
    &-img {
      max-height: 100vh;
      width: auto;
      max-width: 100%;
      background-size: cover;
    }
  }
  &_menu {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 1.2rem;
    padding-bottom: 3rem;
    z-index: 10;
    font-family: $font-2;
    font-weight: 400;
    background-color: $color-light;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 9rem;
      width: 100%;
      background-color: $color-light;
    }
    &_list {
      list-style: none;
      display: flex;
      align-items: flex-end;
      padding-top: 3rem;
      padding-right: 3rem;
      &_item {
        margin-right: 2rem;
        font-size: 1.2rem;
        position: relative;
        cursor: pointer;
        transition: all $trans-primary;
        color: $color-secondary;
        font-weight: 700;
        letter-spacing: 0.2rem;
        &::before {
          content: '';
          position: absolute;
          top: 60%;
          left: 0;
          right: 0;
          height: 4px;
          background-color: $color-secondary;
          transform-origin: center right;
          transform: scaleX(0) translateY(-50%);
          transition: transform 0.3s ease;
        }
        &:hover::before {
          transform-origin: center left;
          transform: scaleX(1) translateY(-50%);
        }
      }
    }
  }
}

.about {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: $color-light;
  position: relative;
  &_card {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 3rem;
    width: 50%;
    color: $color-secondary;
    &-blue {
      color: $color-light;
      background-color: $color-secondary;
    }
    &_content {
      height: 100%;
      padding-left: 2.5rem;
      padding-top: 10rem;
    }
  }
  &_photo {
    height: auto;
    width: 50%;
    color: $color-light;
    background-color: $color-secondary;
  }
}
