.sticks {
  position: relative;
}

.latestHeader {
  height: $divider-height;
  color: $color-light;
  background-color: $color-secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: -0.4rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: $font-3;
  @media screen and (max-width: 900px) {
    z-index: 1;
  }
}

.latestContent {
  padding-top: 3rem;
  position: relative;
  background-color: $color-light;
  z-index: 100;
  &-shopPage {
    padding-top: 14rem;
    @media screen and (max-width: 900px) {
      padding-top: 7rem;
    }
  }
  @media screen and (max-width: 900px) {
    z-index: 1;
  }
  &_item {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 6rem;

    @media screen and (max-width: 675px) {
      flex-direction: column;
      align-items: center;
    }
    &_buy {
      background-color: $color-secondary;
      color: $color-light;
      border-radius: 0;
      border: none;
      outline: none;
      margin-left: 2rem;
      font-size: 1.2rem;
      font-weight: 300;
      cursor: pointer;
      padding: 1rem 2rem;
    }
    &_info {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
    &-img {
      height: auto;
      width: 20rem;
    }
    &_title {
      font-family: $font-2;
      color: $color-secondary;
      font-weight: 300;
      font-size: 1.9rem;
    }

    &_price {
      font-size: 1rem;
      color: $color-secondary;
      margin-left: 1.5rem;
      margin-top: 1.2rem;
    }
    &_description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &_row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
      &-text {
        max-width: 20rem;
        color: $color-secondary;
        font-size: 1.5rem;
      }
    }
    &-odd {
      flex-direction: row-reverse;
      @media screen and (max-width: 675px) {
        flex-direction: column;
        width: 100%;
        align-items: center;
      }
    }
  }
}
